<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">

                <h4 class="title is-4">You're tipping <%= @user.name %></h4>
                <p class="subtitle is-5">Thanks for the support!</p>

                <%= form_with url: orders_create_path(user_id: @user.id), local: true, html: {multipart: true} do |f| %>

                <div class="field buttons">
                    <button type="button" class="button is-info dollarAmount" value="1">$1</button>
                    <button type="button" class="button is-info dollarAmount" value="5">$5</button>
                    <button type="button" class="button is-info dollarAmount" value="10">$10</button>
                </div>

                <div class="field">
                    <p class="control">
                        <input name="amount" class="input amountInput" type="number" placeholder="Other amount">
                    </p>
                </div>

                <div class="field">
                    <label class="label">Name (required)</label>
                    <div class="control">
                        <%= f.text_field :name, required: true, input_html: { class: "input" }, wrapper: false, :class => "input namefield", placeholder: "Your name" %>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Message (required)</label>
                    <div class="control">
                        <%= f.text_area :message, required: true, wrapper: false, :class => "textarea message" %>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">

                        <%= f.submit :Submit, class: "button is-link submitButton" %>
                    </div>
                    <div class="control">
                        <button class="button is-text">Cancel</button>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
   
    // used to allow user to choose amount of money to donate - puts value into input field to be sent to Stripe
    const amountButtons = Array.from(document.querySelectorAll('.dollarAmount'));
    const amountInput = document.querySelector('.amountInput');

    amountInput.addEventListener('blur', function (e) {
        value = e.target.value;
        console.log(value);
    });

    amountButtons.forEach(button => {
        button.addEventListener('click', function (e) {
            value = e.target.value;
            amountInput.value = value;
        })
    });
</script>