<nav class="panel">
    <p class="text-uppercase has-text-gray pv1 f6">filter by category</p>
  
    <ul class="mb3 pa0">
      <li class="pv1">
        <%= link_to 'All', posts_path, class: "button is-fullwidth is-dark" %>
      </li>
  
      <li class="pv1">
        <%= link_to 'Art', posts_path(category: "Art"), class: "button is-fullwidth is-primary" %>
      </li>
  
      <li class="pv1">
        <%= link_to 'Music', posts_path(category: "Music"), class: "button is-fullwidth is-link" %>
      </li>
  
      <li class="pv1">
        <%= link_to 'Games', posts_path(category: "Games"), class: "button is-fullwidth is-warning" %>
      </li>
  
      <li class="pv1">
        <%= link_to 'Video', posts_path(category: "Video"), class: "button is-fullwidth is-info" %>
      </li>

      <li class="pv1">
        <%= link_to 'Writing', posts_path(category: "Writing"), class: "button is-fullwidth is-info" %>
      </li>

      <li class="pv1">
        <%= link_to 'Podcast', posts_path(category: "Podcast"), class: "button is-fullwidth is-info" %>
      </li>

      <li class="pv1">
        <%= link_to 'Other', posts_path(category: "Other"), class: "button is-fullwidth is-info" %>
      </li>
    </ul>
  </nav>
