
<div class="container">
<div class="columns border-top">
  <div class="column is-2 bg-light">
    <div class="pl3 pr1">
      <%= render 'panel' %>
    </div>
  </div>

  <div class="column is-9 pl6">
    <% @posts.each do |post| %>
    <div class="columns border-bottom pt4">
      <div class="column is-1">
        <% if !post.avatar.file.nil? %>
          <%= link_to image_tag(post.avatar_url(:thumb), alt: post.post_author, width: 100, height: 100), post.user %>
        <% end %>
      </div>
      <div class="column is-8">
        <h3 class="title is-4 index-title"><%= link_to post.title, post %></h3>
          <ul>
            <li><%= link_to post.user.name, post.user %></li>
          </ul>
        <div class="pv2 f6">
          <%= sanitize(post.description.truncate(200, separator: '</p>')) %>
        </div>

        <% if current_user.try(:admin) || post_author(post) %>
          <ul class="pv3">
            <li class="inline-block f6">Admin controls: </li>
            <li class="inline-block">
              <%= link_to 'View', post, class: 'button is-small is-link is-outlined' %></li>
            <li class="inline-block">
              <%= link_to 'Edit', edit_post_path(post), class: 'button is-small is-link is-outlined' %></li>
            <li class="inline-block">
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
          </ul>
        <% end %>

        </div>
        <div class="column has-text-right">
          <%= category(post.category) %>
          <p class="pt2 f6"><%= post.user.name %></p>
        </div>
      </div>
    <% end %>
  </div>


</div>
</div>