<div class="section">
  <div class="container">
    <div class="columns pt4 pb7">
      <div class="column">

        <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
        <h1 class="title is-2"><%= @post.title %></h1>

        <ul class="list pb4">
          <li class="inline-block f6 pr2"><%= category(@post.category) %></li>
        </ul>

        <div class="content text-serif f4">
          <%= @post.description.html_safe %>
        </div>

        <div class="post-page-image">
          <img src="<%= @post.avatar %>" alt="">
        </div>

      </div>

      <div class="column is-2 is-offset-1 has-text-centered" style="display: flex; flex-direction: column; align-items: center;">

        <% if !@post.avatar.file.nil? %>
        <div class="post-user-avatar has-text-centered" style="background: url(<%= @post.user.avatar %>); background-size: cover; margin-bottom: 1em;">
          <% end %>
        </div>

        <h5 class="is-5 has-text-centered"><%= link_to @post.user.name, @post.user %></h5>

        <% if user_signed_in? %>
        <%= link_to 'Tip this user', orders_new_path(user_id: @post.user.id), class:"button is-rounded is-fullwidth is-link", style: "margin-top: 1em;" %>
        <% end %>

        <% if current_user.try(:admin) || post_author(@post) %>
        <ul class="pv3">
          <li class="pv1 f6">Admin controls: </li>
          <li class="pv1 inline-block">
            <%= link_to 'View', @post, class: 'button is-small is-link is-outlined' %></li>
          <li class="pv1 inline-block">
            <%= link_to 'Edit', edit_post_path(@post), class: 'button is-small is-link is-outlined' %></li>
          <li class="pv1 inline-block">
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>