<!DOCTYPE html>
<html>

<head>
  <title><%= Rails.configuration.application_name %></title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
  <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
</head>

<body class="<%= yield (:body_class) %>">
  <% if flash[:notice] %>
  <div class="notification is-success global-notification">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="notification is-danger global-notification">
    <p class="alert"><%= alert %></p>
  </div>
  <% end %>

  <header>

    <div class="container header-content">

      <%= link_to 'Supportr', root_path, class: 'nav-brand' %>
      <nav class="header-nav">
        <ul class="header-menu">

          <% if user_signed_in? %>

          <li><%= link_to 'Feed', posts_path %></li>
          <li><%= link_to 'Create post', new_post_path %></li>
          <li><%= link_to 'My profile', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>

          <% else %>

          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>

          <% end %>
        </ul>
      </nav>
    </div>


  </header>

  <%= yield %>
  <div class="section">
      <div class="container">
  <footer>
    

        <div class="brand-logo"><img src="<%= asset_path 'slack.jpg' %>" alt=""></div>

        <p class="site-desc">The marketplace is a place for you to support your favourite creators. Check out their posts, enjoy their content and connect with other fans.
          Best of all, support them and their content, allowing them to keep doing what you love.
        </p>

        <div class="footer-nav">
          <div class="menu-left">
            <ul>
              <li>LINKS</li>
              <a href="/">
                <li>Home</li>
              </a>
              <a href="/users/sign_in">
                <li>Login</li>
              </a>
              <a href="/users/sign_up">
                <li>Sign up</li>
              </a>
              <a href="">
                <li>Contact</li>
              </a>
            </ul>
          </div>

          <div class="menu-left">
            <ul>
              <li>BORING BITS</li>
              <a href="">
                <li>Support</li>
              </a>
              <a href="">
                <li>Terms of use</li>
              </a>
              <a href="">
                <li>Privacy policy</li>
              </a>
            </ul>
          </div>
        </div>

        <hr>

        <div class="footer-bottom">
          <div class="icons">

          </div>

          <p>Copyright © 2019 Dana & Rhys</p>
        </div>

  </footer>

</div>
</div>

</body>

</html>