<%= stylesheet_link_tag 'welcome' %>

<div class="page">

    <div class="hero">

        <section class="hero-desc">
            <h1>Support the content creators you love</h1>
            <p>Our business allows you to directly support the creators and cuts out the middleman allowing them to
                keep doing it for fun.</p>
            <button class="hero-btn">View listings</button>
        </section>

        <div class="hero-img">
            <img src="<%= asset_path 'artist.svg' %>" alt="">
        </div>

    </div>

    <%= render 'posts/post', posts: @posts %>
    
    <section class="explore">
        <h5>Explore</h5>
        <div class="explore-btns">
            <button class="explore-btn">Art</button>
            <button class="explore-btn">Writers</button>
            <button class="explore-btn">Video</button>
            <button class="explore-btn">Interactive</button>
            <button class="explore-btn">Music</button>
            <button class="explore-btn">Podcasts</button>
            <button class="explore-btn">Games</button>
            <button class="explore-btn">View all</button>
        </div>
    </section>

    <section class="features">

        <div class="feature">
            <div class="feature-img"><img src="<%= asset_path 'love.svg' %>" alt=""></div>
            <p class="feature-heading">See what your favourite creators are up to</p>
            <p class="feature-desc">Humblebrag messenger bag meggings prism williamsburg gluten-free viral pinterest
                selvage small batch man braid shabby chic blog. </p>
        </div>

        <div class="feature">
            <div class="feature-img"><img src="<%= asset_path 'money.svg' %>" alt=""></div>
            <p class="feature-heading">Support creators in making the content you love</p>
            <p class="feature-desc">Jean shorts iceland readymade PBR&B, celiac gentrify pickled dreamcatcher
                narwhal sartorial tattooed VHS crucifix vaporware woke.</p>
        </div>

        <div class="feature">
            <div class="feature-img"><img src="<%= asset_path 'chat.svg' %>" alt=""></div>
            <p class="feature-heading">Interact with members of your favourite community</p>
            <p class="feature-desc">Ethical truffaut thundercats, man bun direct trade hella taiyaki post-ironic.
                Meditation wayfarers tacos, cardigan drinking vinegar.</p>
        </div>

    </section>

    <div class="cta">
        <div class="cta-text">
            <h3>Ready to get started?</h3>
            <p>Create an account and connect with creators</p>
        </div>
        <button class="cta-btn">Create a free account</button>
    </div>